* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #212121;
  color: #fff;
  font-family: "Rubik", sans-serif;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
